.tg-news {
  overflow-x: hidden;
  overflow-y: auto;

  max-width: 250px;

  .tg-news-heading + .tg-news-list {
    margin-top: 8px;
  }

  .tg-news-item + .tg-news-item {
    margin-top: 8px;
  }
}

.tg-news-item {
  display: flex;
  flex-direction: column;

  border-left: 3px solid @tg-pink;
  padding-left: 4px;

  .tg-news-item-date + .tg-news-item-content {
    margin-top: 4px;
  }
}
.tg-news-item-title {

}
.tg-news-item-date {
  font-size: 0.8rem;
}
.tg-news-item-content {

}
