@round-button-size: 50px;
@only-icon-font-size: 1.2rem;

.tg-button-group {
  .tg-button + .tg-button {
    margin-left: 10px;
  }
}

.tg-button {
  background: white;
  border-color: transparent;
  border-radius: 6px;
  text-decoration: none;
  color: @tg-black;
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
  line-height: inherit;

  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: @tg-component-shadow;

  &.disabled {
    color: @tg-disabled-color;
    background: @tg-disabled-bg;
    pointer-events: none;
  }

  .tg-icon + * {
    margin-left: 4px;
  }
}

.tg-button.tg-button--centered {
  display: flex;
  justify-content: center;
  align-items: center;

  .fas, .ra {
    font-size: @only-icon-font-size;
  }
}

.tg-button.tg-button--flag {
  border-radius: 0 0 @round-button-size @round-button-size;
}
.tg-button.tg-button--flag.tg-button--wide-flag {
  border-radius: 0 0 @round-button-size/2 @round-button-size/2;
  padding: 0 10px;
}

.tg-button.tg-button--round {
  border-radius: 50%;
  height: @round-button-size;
  width: @round-button-size;

  .fas, .ra {
    font-size: @only-icon-font-size;
  }
}

.tg-button.tg-button--top-left {
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: @zindex-ui;

  box-shadow: @tg-component-shadow;
}
