@round-button-size: 50px;
@only-icon-font-size: 1.2rem;

.tg-button {
  padding: 5px;
  background: white;
  border-color: transparent;

  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0 2px 0px rgba(0, 0, 0, 0.2), 0 3px 3px 0px rgba(0, 0, 0, 0.19);

  &.disabled {
    color: #777777;
    background: #dadada;
    pointer-events: none;
  }

  .tg-icon ~ * {
    margin-left: 4px;
  }
}

.tg-button.tg-button--centered {
  display: flex;
  justify-content: center;
  align-items: center;

  .fas, .ra {
    font-size: @only-icon-font-size;
  }
}

.tg-button.tg-button--flag {
  height: @round-button-size;
  width: @round-button-size;
  border-radius: 0 0 @round-button-size @round-button-size;
}

.tg-button.tg-button--round {
  border-radius: 50%;
  height: @round-button-size;
  width: @round-button-size;

  .fas, .ra {
    font-size: @only-icon-font-size;
  }
}

.tg-button.tg-button--top-left {
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: @zindex-floating-ui;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
