.tg-character-blurb {
  cursor: pointer;
  padding: 5px;
  background: white;

  border-radius: 5px;
  box-shadow: @tg-component-shadow;
}

.tg-character-blurb .character-info-container {
  flex-direction: row;

  .character-info-person {
    @media @desktop {
      width: 200px;
    }

    @media @phone {
      width: 200px;
    }
  }
}
