.tg-layout {
  display: flex;
  position: relative;
  // overflow: auto;

  // background: white;
  flex: 1 1 auto;
  z-index: @zindex-layout;

  margin: 10px;
  border-radius: 5px;
  box-shadow: @tg-component-shadow;

  @media @desktop {
    flex-direction: row;
  }

  @media @mobile {
    flex-direction: column;

    // > .tg-panel + .tg-panel {
    //   margin-top: 5px;
    // }
  }
}

/* styles the active panel */
.tg-layout.tg-layout--multi {
  @layout-multi-iterations: 3;

  .panel-loop (@i) when (@i > 0) {
    &.tg-active-panel-@{i} > .tg-panel:nth-child(@{i}) {
      .tg-active-panel-mixin();
    }
    .panel-loop(@i - 1);
  }
  .panel-loop (@layout-multi-iterations);
}
