@tg-panel-color: white;

.tg-layout {
  display: flex;
  overflow: auto;

  background: white;
  flex: 1 1 auto;
  z-index: @zindex-layout;

  margin: 10px;
  border-radius: 5px;
  box-shadow: @tg-component-shadow;

  @media @desktop {
    flex-direction: row;
  }

  @media @phone {
    flex-direction: column;
  }
}
