@tg-panel-padding: 20px;

.tg-panel {
  padding: @tg-panel-padding;
  background: @tg-panel-color;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  // transition: transform 100ms;
}

.tg-panel.active {
  z-index: @zindex-active-panel;
  // transform: translateY(-8px);
  margin-top: -8px;

  &:not(:first-child) {
    box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  &:not(:last-child) {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.tg-panel.tg-panel--inner {
  flex: 0 0 auto;
  padding: @tg-panel-padding / 2;
  margin: 10px;
  border-radius: 10px;
}
