@tg-panel-padding: 20px;

@tg-panel-left-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2);
@tg-panel-right-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
@tg-panel-bottom-shadow: 0 5px rgba(0, 0, 0, 0.3);

.tg-panel {
  padding: @tg-panel-padding;
  background: white;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
// if in a multi layout
.tg-layout.tg-layout--multi > .tg-panel {
  flex: 1 1 33.33%;
  width: auto;

  @media @desktop {
    transition: transform 100ms;
  }

  @media @mobile {
    transition: transform 500ms, opacity 300ms;
    transform: translateY(25px);
    opacity: 0;

    position: absolute;
    left: 0;
    right: 0;
  }
}
.tg-panel.active {
  .tg-active-panel-mixin();
}

.tg-panel.tg-panel--inner {
  flex: 0 0 auto;
  padding: @tg-panel-padding / 2;
  margin: 10px;
  border-radius: 10px;
}

/* mixins */
.tg-active-panel-mixin {
  z-index: @zindex-active-panel;

  @media @desktop {
    transform: translateY(-5px);
    box-shadow: @tg-panel-left-shadow, @tg-panel-right-shadow, @tg-panel-bottom-shadow;

    &:first-child {
      box-shadow: @tg-panel-right-shadow, @tg-panel-bottom-shadow;
    }

    &:last-child {
      box-shadow: @tg-panel-left-shadow, @tg-panel-bottom-shadow;
    }
  }

  @media @mobile {
    transform: translateY(0);
    opacity: 1;
  }
}
