body {
  color: @tg-black;
  background-color: @tg-skyblue;
}

#tg-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  /* space for the header */
  padding-top: @header-height;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;

  /* base text styles */
  color: @tg-black;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;

  a {
    text-decoration: none;
  }
  h1 {
    font-size: 1.75rem;
    font-family: 'Ruda', sans-serif;
  }
  h2 {
    font-size: 1.5rem;
    font-family: 'Ruda', sans-serif;
  }

  @media @desktop {
    height: 100vh;
    width: 100vw;
    max-width: 1280px;
  }

  @media @mobile {
    width: 100vw;
    min-height: 100vh;
  }
}

.tg-page {
  width: 100%;
}

.placeholder {
  background: #f1f0f0;
  border-radius: 5px;
}

.tg-card {
    border: 8px solid white;
    border-radius: 10px;
    box-shadow: @tg-component-shadow;

    min-width: 50px;
    min-height: 50px;
    position: relative;}

.tg-container {
    position: relative;
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
}
.tg-centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
