@tg-black: #333333;

@zindex-ui: 3;
@zindex-layout: 2;
@zindex-background: 1;

@desktop: ~"screen and (max-width: 1600px)";
@phones: ~"only screen and (max-width: 480px)";

#tg-app {
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 100vw;
  box-sizing: border-box;

  /* space for the header */
  padding-top: @header-height;
  padding-bottom: 50px;

  /* base text styles */
  color: @tg-black;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;

  a {
    text-decoration: none;
  }
}

body {
  color: @tg-black;
  background-color: lightblue;
}

.tg-card {
    border: 8px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: beige;

    min-width: 50px;
    min-height: 50px;
    position: relative;}

.tg-container {
    position: relative;
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
}
.tg-centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
// .tg-butto-panel {
//     padding: 30px 10px;
// }
