// import all the other styles
@import 'tg-global-styles.less';
@import 'character-card.less';

// components
@import 'components/button-component.less';
@import 'components/list-component.less';
@import 'components/stats-component.less';

// pages
@import 'pages/overview-page.less';

.tg-app {
  color: @tg-black;
  background-color: lightblue;
  font-size: 15px;

  height: 100vh;
  width: 100vw;
}

a {
  color: @tg-black;
}
