@tg-black: #333333;

@zindex-floating-ui: 3;

.tg-app {
  color: @tg-black;
  background-color: lightblue;
  height: 100vh;
  width: 100vw;

  button, a, div, span {
    font-size: 15px;
    font-family: 'Source Sans Pro', sans-serif;
  }

  a {
    color: @tg-black;
    text-decoration: none;
  }
}

.tg-card {
    border: 8px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: beige;

    min-width: 50px;
    min-height: 50px;
    position: relative;}

.tg-container {
    position: relative;
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
}
.tg-centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
// .tg-butto-panel {
//     padding: 30px 10px;
// }
