// display flex
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-row-center {
  .flex-row();
  .justify-center();
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-centered {
  display: flex;
  .align-center();
  .justify-center();
}

// common flex things
.flex-none {
  flex: 0 0 auto;
}

.flex-grow {
  flex: 1 1 auto;
}

// align-items
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

// justify-content
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
