@baseFontSize: 15px;

// create font sizes from 0 to max
.generate-all-font-size(10);

// mixin for create all instances
.generate-all-font-size(@n, @i: 0) when (@i =< @n) {
  .generate-font-size(@i);

  // recursive loop
  .generate-all-font-size(@n, (@i + 1));
};

// mixin
.generate-font-size(@num) {
  .fsize-@{num} {
    font-size: @num * 5px;
  }
}

// specific sizes
// todo - calculations/rem
.fsize-base {
  font-size: @baseFontSize;
  line-height: @baseFontSize;
}
.fsize-small {
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.fsize-big {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

// font weight
.f-thin {
  font-weight: 200;
}
.f-normal {
  font-weight: 400;
}
.f-bold {
  font-weight: 600;
}
.f-italic {
  font-style: italic;
}

// center text
.text-center {
  text-align: center;;
}
