
.text-center {
  text-align: center;;
}
.text-left {
  text-align: left;;
}
.text-right {
  text-align: right;;
}

.text-stroke {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.wordbreak-break {
  word-break: break-word;
  white-space: normal;
}

.text-vertical {
  vertical-align: middle;
}
